<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div style="text-align: center;">

      <h1>Registro de Músicos</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput required placeholder="Código" formControlName="id">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Nombre Completo</mat-label>
        <input matInput required placeholder="Nombre" formControlName="nombreCompleto">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput required placeholder="Email@gmail.com" formControlName="correo">
      </mat-form-field>
      <br>
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Contraseña:</mat-label>
        <input matInput required placeholder="Contraseña" formControlName="contrasena">
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Ingresa tu Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Telefono:</mat-label>
        <input matInput required placeholder="999999999" formControlName="telefono">
      </mat-form-field>
      <br>
      <div style="text-align: center;">

      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/Usuario_Musico">Cancelar</button>
      <br>
      </div>
      <p>{{mensaje}}</p>
    </form>
  </div>
</body>

</html>
